@model IEnumerable<WebApplication1.Models.Person>

@{
    ViewBag.Title = "ListStudents";
}

<h2>ListStudents</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discriminator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeAssignment.Location)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discriminator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeAssignment.Location)
        </td>
    </tr>
}

</table>
